<!-- Unread (active) -->
<a href="/" hx-push-url="/" hx-get="/partial/articles/unread" hx-target="#main-block"
    class="shrink-0 lg:w-full h-12 px-3 lg:px-4 flex items-center gap-3 {{#if (eq active_category 'unread')}}bg-surface{{else}}hover:bg-surface{{/if}} rounded text-left">
    <img src="/static/images/MarkUnRead.svg" />
    <span class="hidden lg:inline flex-1 font-medium">Unread</span>
    <span class="hidden lg:inline text-xs text-muted">{{unread_counter}}</span>
</a>
<!-- All -->
<a href="/all" hx-push-url="/all" hx-get="/partial/articles/all" hx-target="#main-block"
    class="shrink-0 lg:w-full h-12 px-3 lg:px-4 flex items-center gap-3 rounded text-left {{#if (eq active_category 'all')}}bg-surface{{else}}hover:bg-surface{{/if}}">
    <img src="/static/images/All.svg" />
    <span class="hidden lg:inline flex-1">All</span>
    <span class="hidden lg:inline text-xs text-muted">{{all_counter}}</span>
</a>
<!-- Starred -->
<a href="/favourite" hx-push-url="/favourite" hx-get="/partial/articles/favourite" hx-target="#main-block"
    class="shrink-0 lg:w-full h-12 px-3 lg:px-4 flex items-center gap-3 rounded text-left {{#if (eq active_category 'favourite')}}bg-surface{{else}}hover:bg-surface{{/if}}">
    <img src="/static/images/FavoriteOff.svg" />
    <span class="hidden lg:inline flex-1">Starred</span>
    <span class="hidden lg:inline text-xs text-muted">{{starred_counter}}</span>
</a>
<!-- Archive -->
<a href="/archive" hx-push-url="/archive" hx-get="/partial/articles/archived" hx-swap="morph:innerHTML"
    hx-target="#main-block"
    class="shrink-0 lg:w-full h-12 px-3 lg:px-4 flex items-center gap-3 rounded text-left {{#if (eq active_category 'archived')}}bg-surface{{else}}hover:bg-surface{{/if}}">
    <img src="/static/images/Archived.svg" />
    <span class="hidden lg:inline flex-1">Archived</span>
    <span class="hidden lg:inline text-xs text-muted">{{archived_counter}}</span>
</a>
{{! TODO implement tag filters
-- <!-- Tags -->
<button class="shrink-0 lg:w-full h-12 px-3 lg:px-4 flex items-center gap-3 rounded text-left hover:bg-surface">
    <!-- TODO replace tagged svg by normal variant -->
    <img class="w-5 h-5" src="/static/images/Tagged.svg" />
    <span class="hidden lg:inline flex-1">Tags</span>
</button>
--}}